{% extends "shop/base.html" %}
{% load i18n %}


{% block title %}
  Shopping Cart 
{% endblock title %}


{% block content %}
    <h1>Your shopping cart</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove</th>
                <th scope="col">Unit price</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
              {% with product=item.product  %}
                <tr>
                    <td>
                        <a href="{{product.get_absolute_url}}">
                            <img class="rounded-lg shadow" src="{{product.image.url}}" height="100" width="100" alt="">
                        </a>
                    </td>
                    <td>{{product.name}}</td>
                    <td>
                        <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                            {{item.update_quantity_form.quantity}}
                            {{item.update_quantity_form.override}}
                            <input class="btn btn-primary" type="submit" value="Update">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                            <button type="submit" class="btn"><i class="fas fa-trash"></i></button>
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.total_price}}</td>
                </tr>
              {% endwith %}
            {% endfor %}
            <tr>
                <td>Total</td>
                <td colspan="4"></td>
                <td>{{cart.get_total_price}}</td>
            </tr>
            
            {% if cart.coupon %}
                <tr>
                    <td>Subtotal with {{cart.coupon.discount}}%</td>
                    <td colspan="4"></td>
                    <td class="text-success">{{cart.get_total_price_after_discount}}</td>
                </tr>
            {% endif %}
                
        </tbody>
    </table>
    <hr>
    <p>
        <a href="{% url 'shop:product_list' %}" class="btn btn-primary">Continue Shopping</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-success">Checkout</a>
    </p>
    <p>Aooly Coupon Code:</p>
    <form action="{% url 'coupons:apply' %}" method="POST">
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Apply</button>
        {% csrf_token %}
    </form>
    <hr>
    {% if recommended_products %}
    <h3>{% trans "People who bought this also bought" %}</h3>
    {% for product in recommended_products %}
    <a href="{{product.get_absolute_url}}">
        <img src="{{product.image.url}}" alt="" width="300" height="200">
        <span>{{product.name}}</span>
    </a>
    {% endfor %}
{% endif %}  
        
            
{% endblock content %}
    