{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
            
        {% endblock title %}        
    </title>
</head>
<body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'shop:product_list' %}">My Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'shop:product_list' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{% url 'cart:cart_detail' %}">
              <i class="fas fa-shopping-cart"></i>
              
              {% if request.session.cart %}
              <span class="badge badge-primary">{{cart|length}}</span> <span class="sr-only">(current)</span>
              <span>total price : {{cart.get_total_price}}</span>
              {% endif %}
                
            </a>
          </div>
        </div>
      </nav>
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>